<body id="subjectsBody">

  <h1>Subjects</h1>

  [
  <a href="regions">Regions</a>
  |
  <a href="houses">Houses</a>
  |
  <a href="subjects">Subjects</a>
  |
  <a href="battles">Battles</a>
  |
  <a href="houses_battles">Houses and Battles</a>]
  <br /><br />

  <div id="browse" style="display: block">

    {{! Create a table }}
    <table id="subject-table">

      {{! Header section }}
      <thead>

        {{! For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders }}
        <tr>
          <th>Subject ID</th>
          <th>Name</th>
          <th>Occupation</th>
          <th>House ID</th>
          <th>Delete</th>
        </tr>
      </thead>

      {{! Body section }}
      <tbody>

        {{! For each row, print the regionID and regionName in order }}
        {{#each data}}
          <tr data-value={{this.subjectID}}>
            <td>{{this.subjectID}}</td>
            <td>{{this.subjectName}}</td>
            <td>{{this.occupation}}</td>
            <td>{{this.houseID}}</td>
            <td><button
                onclick="deleteSubject({{this.subjectID}})"
              >Delete</button></td>
          </tr>
        {{/each}}
      </tbody>
    </table>

    <script src="./js/delete_subject.js"></script>

  </div>

  <!-- /views/subjects.hbs -->
  <h2>Add Subject</h2>
  <form id="add-subject-form" method="POST" action="/add-subject-form">
    <label for="input-subjectName">Name: </label>
    <input type="text" name="input-subjectName" id="input-subjectName" />

    <label for="input-occupation">Occupation: </label>
    <input type="text" name="input-occupation" id="input-occupation" />

    <label for="input-houseID">House: </label>
    <select name="input-houseName" id="input-houseID">
      <option value="test">Select a House</option>
      {{#each houses}}
        <option value="{{this.houseID}}">{{this.houseName}}</option>
      {{/each}}
    </select>
    <input type="submit" />
  </form>

  <h2>Update A Subject</h2>
  <form id="update-subject-form-ajax">
    <label for="input-subjectNameUpdate">Name: </label>
    <select name="input-subjectNameUpdate" id="input-subjectNameUpdate">
      <option value="test">Select a Subject</option>
      {{#each data}}
        <option value="{{this.subjectID}}">{{this.subjectName}}</option>
      {{/each}}
    </select>

    <label for="input-occupationUpdate">Occupation: </label>
    <input
      type="text"
      name="input-occupationUpdate"
      id="input-occupationUpdate"
    />

    <label for="input-houseIDUpdate">House: </label>
    <select name="input-houseNameUpdate" id="input-houseIDUpdate">
      <option value="0">(None)</option>
      {{#each houses}}
        <option value="{{this.houseID}}">{{this.houseName}}</option>
      {{/each}}
    </select>
    <input type="submit" />

  </form>

  <script src="./js/update_subject.js"></script>

</body>

{{! Embed our javascript to handle the DOM manipulation and AJAX request }}
<script src="./js/add_subject.js"></script>